h2{
font-family: 'Verdana', serif;
  background-color: rgb(224, 210, 181);
  display: block;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

a:hover {
  background-color: rgb(223,141,122);
  color: #fff;
}
a:after {
  content: "?";
  position: absolute;
  right: 20px;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  color: white;
}
a:hover:after {
  content: "?";
  position: absolute;
  right: 10px;
  opacity: 1;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

color:#FA58D0;
background:#F8E0F1;
}
h1{color:#81DAF5;}
ol{
background:#F5F6CE;
font-family: 'Verdana', serif}
